@model IEnumerable<Publisher>
@{
    ViewData["Title"] = "List of Publishers";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().LogoUrl)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Location)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.LogoUrl" alt="@item.Name" style="max-width: 100px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-publisherId="@item.PublisherId">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a> |
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-publisherId="@item.PublisherId">
                                <i class="bi bi-eye"></i> Details
                            </a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-publisherId="@item.PublisherId">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div style="position:fixed; right:25px; bottom:75px; z-index:1050;">
    <a asp-controller="Publishers" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New
    </a>
</div>

@await Html.PartialAsync("_CreateItem", "Publishers")
